<% page_title "Alerts" %>
			<article class="focus focus--top">
<% if !@alerts.blank? %>
	<% for alert in @alerts %>
				<p>Alert: <%= alert.name %></p>
	<% end %>
<% else %>
				<p>There are no alerts to display.</p>
<% end %>
			</article>