.button
	border-bottom: 0px none
	color: rgba(0, 0, 0, 0.54)
	display: inline-block
	margin-right: 1em

	&:active, &:focus, &:hover
		color: rgba(0, 0, 0, 0.26)

.button--light
	color: rgba(255, 255, 255, 1)

	&:active, &:focus, &:hover
		color: rgba(255, 255, 255, 0.3)