.button
	border-bottom: 0px none
	color: $c-text
	display: inline-block
	height: 2.25em
	line-height: 2.25em
	margin: 0 0.25em
	padding: 0 0.5em
	text-transform: uppercase

	&:active, &:focus, &:hover
		background-color: $c-btn-hover

.button--light
	color: $c-text-invert-primary

	&:active, &:focus, &:hover
		background-color: $c-btn-invert-hover
		color: $c-text-invert-primary

.button--danger
	color: $c-danger

.button--first
	margin-left: 0.5em