.tile
	height: 4.5em

	// border: 1px solid black

.tile-action
	border-bottom: none
	color: inherit
	display: inline-block
	height: 100%

.tile-icon
	color: $c-text-secondary
	fill: currentColor
	float: left
	font-size: 1.5em
	height: 100%
	margin-right: (4em / 3)
	width: 1em

.tile-text
	float: left
	height: 100%
	padding-top: 1em

.tile-subtitle
	color: $c-text-secondary
	font-size: em(14px)