<% page_title "Machines" %>
			<article class="focus focus--top">
<% if !@machines.blank? %>
	<% for machine in @machines %>
				<p>Machine: <%= machine.name %></p>
	<% end %>
<% else %>
				<p>There are no machines to display.</p>
<% end %>
			</article>