<% page_title "Machine Extended Attributes" %>
			<article class="focus focus--top">
<% if @ex_attrs.any? %>
				<p class="subheader">Current Properties</p>
				<div class="iconList">
	<% @ex_attrs.each do |ex_attr| %>
					<div class="iconList-item">
						<%= link_to ex_attr, method: :delete, class: "icon", title: "Remove Attribute" do %>
							<svg><use xlink:href="#icon-cross"></use></svg>
						<% end %>
						<div class="iconList-text"><%= ex_attr.name %></div>
					</div>
	<% end %>
				</div>
<% end %>

				<div class="divider"></div>
				<p class="subheader">Add Property</p>
				<% # Todo... %>
			</article>