		<header class="header mbf">
			<div class="actionBar group">
				<div class="fl">
					<a class="icon icon--light" id="sideNav-button" href="#">
						<svg><use xlink:href="#icon-menu"></use></svg>
					</a>
				</div>
				<div class="fr">
					<%= link_to root_path, class: "icon icon--light" do %>
						<svg><use xlink:href="#icon-home"></use></svg>
					<% end %>
<% if user_signed_in? %>
					<%= link_to destroy_user_session_path, method: :delete, class: "icon icon--light" do %>
						<svg><use xlink:href="#icon-logout"></use></svg>
					<% end %>
<% else %>
					<%= link_to new_user_session_path, class: "icon icon--light" do %>
						<svg><use xlink:href="#icon-login"></use></svg>
					<% end %>
<% end %>
				</div>
			</div>
			<div class="header-title">
				<h1 class="mbf"><%= yield :page_title %></h1>
			</div>
		</header>