		<header class="header mbf">
			<div class="actionBar group">
				<div class="icon icon--s fr">Logout</div>
			</div>
			<div class="header-title">
				<h1 class="mbf"><%= yield :page_title %></h1>
			</div>
		</header>